*, *:after, *:before {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

.container {
    position: relative;
    margin-top: 30px;
}

.event-list {
    background-size: 100% 80px;
    background-image: repeating-linear-gradient(0deg, lightgray, lightgray 1px, #eee 1px, #eee 80px);
    position: relative;
    height: 1920px;
    width: 400px;
    top: 10px;
    left: 60px;
    outline: 1px lightgray solid;
}

.event-item {
    position: absolute;
    width: 100%;
    color: #fff;
    background-color: #666;
    overflow: hidden;
    border: 1px #eee solid;
    padding: 0 4px;
    z-index: 1;
    cursor: pointer;
}

.event-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 10px gray;
    height: 100px;
    width: 380px;
    margin: 0 10px;
    padding: 5px 10px;
    z-index: 99;
}

.event-popup .event-popup-arrow {
    position: absolute;
    border: 10px solid transparent;
    border-top-color: white;
    top: 100px;
}

.event-controls {
    position: absolute;
    top: 10px;
    right: 10px;
}